POSICIONES_ENTRENADORES=[1|1,5|5, 9|9]
POKEMON_ENTRENADORES=[Pikachu,Squirtle,Onix]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu,Squirtle|Squirtle|Squirtle,Onix|Onix]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=SJF-SD
QUANTUM=3
ESTIMACION_INICIAL=5
ALPHA=0.8
IP_BROKER=127.0.0.1
PUERTO_BROKER=7777
LOG_FILE=/home/utnso/log_team1.txt
IP=127.0.0.1
PUERTO=7776

//ARREGLAR ARRAYS SI UNO NO TIENE DATOS - falta saber como vienen
//path relativo (si no se puede, probar links)
//estado intermedio deadlock
//SJF SD (est raf)- SJF CD (est raf)- RR EL DESALOJO ES CON EL SEM MUTEX DEL TRAINER
// preguntar si al hacer el catch deberia desalojar en cualquier algoritmo de planificacion